.slds-modal__container{
	width: 90% !important;
	max-width: 90% !important;
	
}

.slds-modal__content .slds-p-around--medium{
	height: 80% !important; 
	max-height: initial !important;



	overflow: hidden !important;
	padding: 0px;
	
}
